{% extends "test_app/base.html" %}
{% load staticfiles %}
{% block title %}
    电特性试验
{% endblock title %}
{% block css %}

    
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 text-center">电特性试验（扭矩与电流关系）</h1>
<form action="{% url 'test_app:currentvstorque' %}" method="post" accept-charset="utf-8">
    {% csrf_token %}
        <table class="table table-responsive-sm table-hover">
            <thead class="thead-dark">
                <tr>
                    <th >转速设定值</th>
                    <th >电流设定值</th>
                    <th >旋转方向</th>
                    <th >冷却温度</th>
                    <th >冷却流量</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ><input class="form-control-plaintext" type="number" name="speed_point" required></td>
                    <td ><input class="form-control-plaintext" type="number" name="current_target" step="0.01" required></td>
                    <td >
                        <select class="form-control-plaintext" name="rotate_direction">
                            {% for dircvalue,dircname in forward_direction_list %}
                                <option value="{{dircvalue}}">{{dircname}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td ><input class="form-control-plaintext" type="number" name="cooling_temperature" step="0.01" required></td>
                    <td ><input class="form-control-plaintext" type="number" name="cooling_flow" step="0.01" required></td>
                </tr>
            </tbody>
            <thead class="thead-dark">
                <tr>
                    <th >冷却介质</th>
                    <th >控制方式</th>
                    <th>直流电压</th>
                    <th>绕组最低温度限值</th>
                    <th>绕组最高温度限值</th>
                </tr>
            </thead>
            <body>
                <tr>
                    <td >
                        <select class="form-control-plaintext" name="cooling_type">
                            {% for coolvalue,coolname in cooling_type_list %}
                                <option value="{{coolvalue}}">{{coolname}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td >
                        <select class="form-control-plaintext" name="control_mode">
                            {% for modevalue,modename in control_mode_list %}
                                <option value="{{modevalue}}">{{modename}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td ><input class="form-control-plaintext" type="number" name="dc_bus_voltage" step="0.01" required></td>
                    <td ><input class="form-control-plaintext" type="number" name="winding_temperature_min" step="0.01" required></td>
                    <td ><input class="form-control-plaintext" type="number" name="winding_temperature_max" step="0.01" required></td>
                    
                </tr>
            </body>
            <thead class="thead-dark">
                <tr>
                    <th>扭矩命令</th>
                    <th>扭矩测量值</th>
                    <th>测量时温度 </th>
                    <th>测量时相电流 </th>
                    <th>备注</th>
                </tr>
            </thead>
            <body>
                <tr>
                    <td ><input class="form-control-plaintext" type="number" name="torque_command" step="0.01" required></td>
                    <td ><input class="form-control-plaintext" type="number" name="torque_measured" step="0.01" required></td>
                    <td ><input class="form-control-plaintext" type="number" name="temperature_measured" step="0.01" required></td>
                    <td ><input class="form-control-plaintext" type="number" name="phase_current_measured" step="0.01" required></td>
                    <td ><input class="form-control-plaintext" type="text" name="comment"></td>
                </tr>
            </body>
        </table>
        <div class="offset-sm-10">
        <button class="btn btn-light" type="reset">重置</button>
        <button class="btn btn-primary" type="submit" name="submit">提交</button> 
        </div>
    </div>
</form>

{% endblock content %}