<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DataView</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <table border="1">
        <caption>People_info</caption>
        <thead>
            <tr>
                <th colspan="" rowspan="" headers="" scope="">name</th>
                <th colspan="" rowspan="" headers="" scope="">password</th>
                <th colspan="" rowspan="" headers="" scope="">email</th>
                <th colspan="" rowspan="" headers="" scope="">sex</th>
                <th colspan="" rowspan="" headers="" scope="">create time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="" rowspan="" headers="">{{name}}</td>
                <td colspan="" rowspan="" headers="">{{password}}</td>
                <td colspan="" rowspan="" headers="">{{email}}</td>
                <td colspan="" rowspan="" headers="">{{sex}}</td>
                <td colspan="" rowspan="" headers="">{{create_time}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>