{% extends "test_app/base.html" %}
{% load staticfiles %}
{% block title %}
    高速试验
{% endblock title %}
{% block css %}
    
{% endblock css %}

{% block content %}
<div>
    <div class="container-fluid">
    <h1 class="h3 text-center">高转速试验</h1>
    <form  action="{% url 'test_app:highspeed' %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <table class="table table-responsive-sm table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>旋转方向</th>
                    <th>运行转速</th>
                    <th>运行时间</th>
                    <th>冷却温度</th>
                    <th>冷却流量</th>
                    <th>是否通过</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td > <select class="form-control-plaintext" name="rotate_direction" >
                        {% for directionvalue,directionname in forward_direction_list %}
                            <option value="{{directionvalue}}">{{directionname}}</option>
                        {% endfor %}
                    </select> </td>
                    <td > <input class="form-control-plaintext" type="number" name="speed" min="0.0" required> </td>
                    <td > <input class="form-control-plaintext" type="time" name="run_time" required> </td>
                    <td > <input class="form-control-plaintext" type="number" name="cooling_temperature" min="0.0" step="0.01" value="{{cooling_temp}}" required></td>
                    <td > <input class="form-control-plaintext" type="number" name="cooling_flow" step="0.01" value="{{cooling_flow}}" required> </td>
                    <td > <input class="form-control" type="checkbox" name="passornot"> </td>
                </tr>
            </tbody>
            <thead class="thead-dark">
                <tr>
                    <th>RTD1 起始温度</th>
                    <th>RTD2 起始温度</th>
                    <th>RTD1 结束温度</th>
                    <th>RTD2 结束温度</th>
                    <th colspan="2">备注</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <input class="form-control-plaintext" min="0.0" type="number" name="RTD1_start_temperature" step="0.01" required></td>
                    <td> <input class="form-control-plaintext" min="0.0" type="number" name="RTD2_start_temperature" step="0.01" required></td>
                    <td> <input class="form-control-plaintext" min="0.0" type="number" name="RTD1_end_temperature" step="0.01" required></td>
                    <td> <input class="form-control-plaintext" min="0.0" type="number" name="RTD2_end_temperature" step="0.01" required> </td>
                    <td colspan="2"> <input class="form-control-plaintext" type="text" name="comment"></td>
                </tr>
            </tbody>
        </table>
            <div class="flex-sm-row offset-sm-11">
                <button type="submit" class="btn btn-primary" value="submit">提交</button>
            </div>
    </form>
    </div>
</div>
{% endblock content %}