/*
* @Author: Sylvain-Yu
* @Date:   2019-07-14 14:10:09
* @Last Modified by:   Sylvain-Yu
* @Last Modified time: 2019-07-14 16:40:28
*/
body {
  background-color: #eee;
}
.form-login {
  max-width: auto;
  padding: auto auto;
  margin: 0 auto;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}